h1, body{
  font-family: Arial;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.buttons {
  text-align: center;
  font-family: Arial;
  margin-bottom: 15px;
}

.introText {
  text-align: center;
  line-height: 0.5em;
  margin-bottom: 50px;
}
